<form method="post" action="{{ path('app_postule_back_delete', {'id': postule.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ postule.id) }}">
    <button class="btn">Delete</button>
</form>
