{% extends 'back.html.twig' %}

{% block title %}New Entretien{% endblock %}

{% block body %}
    <h1>Create new Entretien</h1>

    {{ include('entretien_back/_form.html.twig') }}

    <a href="{{ path('app_entretien_back_index') }}">back to list</a>
{% endblock %}
