{% extends 'back.html.twig' %}

{% block title %}New Apply{% endblock %}

{% block body %}
    <h1>Create new Apply</h1>

    {{ include('apply_back/_form.html.twig') }}

    <a href="{{ path('apply_back_index') }}">back to list</a>
{% endblock %}
