{% extends 'base.html.twig' %}

{% block title %}Liste des users!{% endblock %}

{% block body %}



{% for user in user %}
    
    <h2>
                <a href="{{ path('user_show', {id: user.id}) }}">
                    {{ user.email }}
                </a>
            </h2>

{% endfor %}

{% endblock %}
